.logo-aside {
    display: none;
    left: 5em;
    top: 30px;
}

.size-image-pizza {
    display: none;

    @media (max-width: 540px ) and (orientation: portrait) {
        grid-template-columns: 0% 94%;
    }

    @media screen and (min-width: $breakpoint-landscape-phone) { 
        display: block;
    }

}