

.input--block {
    width: 100%;
}

.input--password {
    @include input;
    background-image: url('../../assets/icons/ic_contrasena.png');
}

.input--user {
    @include input;
    background-image: url('../../assets/icons/ic_usuario.png');
}